* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

:root{
    --white: #fff;
    --dark1: #34344e;
    --dark2: #3a415a;
    --dark3: #566981;
    --dark4: #89a7b1;
    --dark5: #ebfcf6;
    --dark6: #2f2f46;
    --cyan1: #70e3ea;

}

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--dark6);
    color: var(--white);
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

header nav ul li a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.main {
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 70vh;
    background-image: url("/img/programador.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}
