* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

:root{
    --white: #fff;
    --dark1: #34344e;
    --dark2: #3a415a;
    --dark3: #566981;
    --dark4: #89a7b1;
    --dark5: #ebfcf6;
    --dark6: #2f2f46;
    --cyan1: #70e3ea;

}

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--dark6);
    color: var(--cyan1);
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

header nav ul li a {
    color: var(--cyan1);
    text-decoration: none;
    font-weight: bold;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;        
    width: 100%;
    color: var(--white);
    display: flex;
    align-items: center;
    min-height: 70vh;
    background-image: url("/img/programador.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.main h2{
    color: #fff;
    font-size: 2.5rem;
}

.main a{
    text-decoration: none;
    color: #181818;
}

.main p {
    font-size: 1.5rem;
    font-style:  italic;
    color: rgb(28, 228, 28);
    margin-top: 10px;
    margin-bottom: 35px;
}

.call-to-action{
    cursor: pointer;
    background-color: #FFF;
    color: black;
    border: 0;
    border-radius: 4px;
    padding: 14px;
    font-size: 18px;
    font-weight: bold;
    transition:  0.9s;
    animation: 0.8s infinite alternate;
}

.call-to-action:hover{
    transform: scale(1.1);
    animation: translateY 0.9s infinite alternate;
}